@import "tailwindcss";

@theme {
    /* Background Colours */
    --color-header-light: #fffff6;
    --color-starbuck: #FFF2BE;
    --color-website-bg: #8897a8;

    /* Text Colours*/
    --color-header-text-dark: #121212;
    --color-header-text-hover-dark: #838383;
}

@layer utilities {
    @keyframes slide-left {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }

    .animate-slide-left {
        animation: slide-left 30s linear infinite;
    }

    .perspective {
        perspective: 1200px;
    }

    .transform-style-preserve-3d {
        transform-style: preserve-3d;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }

    .rotate-y-180 {
        transform: rotateY(180deg);
    }
}