@import "tailwindcss";

@theme {
  /* Background Colours */
  --color-header-light: #fffff6;
  --color-starbuck: #fff2be;
  --color-website-bg-1: #9dabbb;
  --color-website-bg-2: #fffff6;

  /* Text Colours*/
  --color-header-text-dark: #121212;
  --color-header-text-hover-dark: #838383;

  --color-sponsor-dark-text: #121212;

  --global-text-dark: #121212;
}

@layer utilities {
  @keyframes slide-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .animate-slide-left {
    animation: slide-left 30s linear infinite;
  }

  .perspective {
    perspective: 1200px;
  }

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

.hero-title {
  @apply font-bold;
  font-size: clamp(2.25rem, 8vw, 6rem);
}

.hero-subtitle {
  font-size: clamp(1.25rem, 3vw, 2rem);
}

.hero-background {
  @apply w-full relative w-full overflow-hidden;
  height: clamp(25rem, 40vw, 50rem);
}

.hero-logo {
  @apply object-contain drop-shadow-xl;
  height: clamp(13rem, 20vw, 30rem);
}

.hero-svg-mask-height {
  @apply w-full;
  height: clamp(4rem, 10vw, 10rem);
}
